@import '../../styles/grid';

.project {
  text-align: left;

  &:not(:last-child) {
    padding-bottom: 5rem;
  }

  &:not(:first-child) {
    padding-top: 2rem;
  }

  img {
    display: block;
    height: 30rem;
    width: 37rem;
  }

  .technologies {
    list-style-type:none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1.5rem;
    max-width: 70%;

    .technology-container {
      display: flex;
    }
  }

  @media screen and (max-width: 975px) {
    img {
      display: block;
      height: 22rem;
      width: 30rem;
    }
    .technologies {
      max-width: 80%;
    }
  }

  @media screen and (min-width: 976px) and (max-width: 1368px) {
    img {
      display: block;
      height: 15rem;
      width: 22rem;
    }

    .technologies {
      max-width: 100%;
    }
  }
}
