@import './variables';
@import './mixins';

.row {
  max-width: $grid-width;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  [class^='col-'] {
    float: left;

    &:not(:last-child) {
        margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 3);
  }

  .col-2-of-2 {
    width: calc((100% - #{$gutter-horizontal}) * 2 / 3);
  }

  @media screen and (max-width: 975px) {
    [class^='col-'] {
      float: none;
    }

    .col-1-of-2 {
      margin-top: 2rem;
      width: 100%;
    }

    .col-2-of-2 {
      margin-top: 2rem;
      width: 100%;
    }
  }

  @media screen and (min-width: 976px) and (max-width: 1368px) {
    [class^='col-'] {
      float: left;
  
      &:not(:last-child) {
          margin-right: $gutter-horizontal-mobile;
      }
    }

    .col-1-of-2 {
      width: calc((100% - #{$gutter-horizontal-mobile}) / 3);
    }
  
    .col-2-of-2 {
      width: calc((100% - #{$gutter-horizontal-mobile}) * 2 / 3);
    }
  }
}
