$color-primary: rgb(251, 101, 66);
$color-primary-muted: rgba(251, 100, 66, 0.65);
$color-white: rgb(255, 255, 255);
$color-white-muted: rgba(255, 255, 255, 0.8);

$grid-width: 130rem;
$gutter-vertical: 10rem;
$gutter-horizontal: 8rem;
$gutter-horizontal-mobile: 5rem;
