@import '../../styles/variables';
@import '../../styles/typography';

.home {
  height: 95vh;
  background-image: url(../../assets/images/0E2A3720.JPG);
  background-size: cover;
  background-position: middle;
  position: relative;

  .header-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 85%;

    .heading {
      color: $color-white;
      margin-bottom: 3rem;
      letter-spacing: 0.2rem;
      
      &-main {
        display: block;
        font-size: 7rem;
        font-weight: 600;
      }

      &-sub {
        display: block;
        font-size: 2.25rem;
        font-weight: 400;
      }

      @media screen and (max-width: 600px) {
        &-main {
          display: block;
          font-size: 5rem;
          font-weight: 600;
          letter-spacing: 0;
          line-height: 1.25;
          margin-bottom: 3rem;
        }
  
        &-sub {
          display: block;
          font-size: 1.75rem;
          font-weight: 400;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .header-container {
      width: 100%;
    }    
  }
}