@import '../../styles/variables';

.navbar {
  margin: 0;
  padding: 0;
  font-size: 100%;
  width: 20rem;
  position: fixed;
  z-index: 2;
  top: 5rem;

  .logo {
    font-size: 2rem;
    font-weight: 300;

    & span.emphasis {
      font-weight: 600;
      color: $color-primary;
    }
  }

  a {
    font-size: 1.4rem;
    display: block;
    color: #b0b0b0;
    text-decoration: none;
    padding: 0.5rem 0;
    margin-left: 10rem;


    &:first-of-type {
      margin-top: 20rem;
    }

    &.active {
      color: #484539;
      border-right: 1.5px solid $color-primary;
    }

    &:hover:not(.active) {
      color: #484539;
    }
  }
}